<div class="content text-center"> 
  <div class="container">
    <div class="jumbotron cover">
      <div class = "title">
        <h1>Find Goods <br>　　of Stan</h1>
        <h3>Welcome To Our Page. <br> We send you messege of your fav!!</h3>
      </div>
    </div>
    <div class = "introduction pt-3 pb-3 mt-5 mb-5 mx-auto">
      <p class = "text_message">こんにちは</p>
      <p class = "text_message">LINEで私物特定のお知らせをお送りします。</p>
      <p class = "text_message">過去にお知らせした私物はITEMページをご覧ください。</p>
      <p class = "text_message">また、間違い等がありましたらREPORTページからお知らせください。</p>
    </div>
    <div class = "mt-2 mb-2 pt-1 pb-3">
      <%= button_to t('.line_btn'), line_page_path, method: :get, class: "btn home_btn btn-outline-light border-1 rounded-3 " %>
    </div>
    <div class = " container all-item mt-5 pt-5 mb-5 pb-5">
      <h1 class = "pt-3"><%=  t('.all_item') %></h1>
      <div class="row justify-content-center pt-1 pb-1">
        <% @articles.each do |article| %>
          <% names = [] %>
          <% article.members.each do |member|%>
            <% names.push(member.name) %>
          <% end %>
          <div class="card col-xs-12 col-md-12 col-lg-3  border-white border-2 rounded-3 text-dark bg-white pt-2 mx-3 mt-5 mb-2 pr-3">
            <% if (article[:created_at].to_s.match(/#{Date.today.to_s}.+/)) or (article[:created_at].to_s.match(/#{Date.yesterday.to_s}.+/))  %>
              <div class = "mark-box">
            <% elsif %>
              <div>
            <% end %>
                <% if article.images.present? %>
                  <% article_image = article.images.first %>
                  <%= link_to image_tag(article_image, class: "card-img-top", alt: "Card image cap"), article_path(article.id) %>
                <% end %>
              </div>
              <div class = "mx-3 mt-3 pb-1">
                <p><%="#{names.join("さん")}さん" %></p>
                <p><%= article.brand %></p>
              </div>
          </div>
        <% end %>
        <div class = "mt-5 mb-2 pt-4 pb-3">
          <%= button_to t('.view_more'), articles_path, method: :get, class: "btn home_btn btn-outline-light border-1 rounded-3 mb-3 " %> 
        </div>
      </div>
    </div>
    <div class = "container each-group-item mt-5 pt-5 mb-5 pb-5">
      <h1 class = "pt-3"><%= Member.model_name.human%></h1>
      <div class="row justify-content-center pt-1 pb-1">
        <% @each_member_articles.zip(@each_member_names) do |article, name| %>
          <div class="card col-xs-12 col-md-12 col-lg-3 border-white border-2 rounded-3 text-dark bg-white pt-2 mx-3 mt-5 mb-2 pr-3">
            <div class = "member_name pb-2 mt-2 pt-2 mb-2">
              <p>
                <%= "#{name}さん" %>
              </p>
            </div>
            <% if (article[:created_at].to_s.match(/#{Date.today.to_s}.+/)) or (article[:created_at].to_s.match(/#{Date.yesterday.to_s}.+/))  %>
              <div class = "mark-box">
            <% elsif %>
              <div>
            <% end %>
                <% if article.images.present? %>
                  <% article_image = article.images.first %>
                  <%= link_to image_tag(article_image, class: "card-img-top", alt: "Card image cap"), article_path(article.id) %>
                <% end %>
              </div>
              <div class = "mx-3 mt-3 pb-1">
                <p><%= article.brand %></p>
              </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
