<div class= "content mt-5"> 
  <div class = "introduce text-center">
  <h3>こんにちは<br>SixTONESの私物の特定ツイートを通知するサービスをご提供します</h3>
  <div class = "introduce-btns mt-5 py-4">
  <%= link_to "私物一覧はこちらから", articles_path, class: "btn btn-outline-light me-4"%>
  <%= link_to "間違いにお気づきの方はこちらから", new_report_path, class: "btn btn-outline-light" %>
</div>
  </div>
  <div class = "line mt-5 text-center">
    <p>Twitterで私物の特定のツイートがされた際に、LINEでお知らせをお送りします。<br>お知らせからTweetに飛ぶことが可能です。<br>全員の私物をお知らせするチャネルと個人のチャネルがございます。<br>下記からご登録ください。</p>
    <div class = "row justify-content-center">
      <div class="card col-2 border-white border-1 rounded-0 text-dark bg-white py-2 mx-3 mt-3 mb-3" style="width: 15rem; height: 18rem;">
        <div class="card-body">
          <%= image_tag 'line_all.jpg', size:"150x150"%>
          <div class="card-body-text mt-4 text-center">
            <p>全員の私物が特定された際に通知が送られます。</p>
          </div>
        </div>
      </div>
      <div class="card col-2 border-white border-1 rounded-0 text-dark  py-2 mx-3 mt-3 mb-3" style="width: 15rem; height: 18rem;">
        <div class="card-body">
          <%= image_tag 'line_yugo.jpg', size:"150x150"%>
          <div class="card-body-text mt-4 text-center">
            <p>髙地優吾さんの私物が特定された際に通知が送られます。</p>
          </div>
        </div>
      </div>
      <div class="card col-2 border-white border-1 rounded-0 text-dark bg-white py-2 mx-3 mt-3 mb-3" style="width: 15rem; height: 18rem;">
        <div class="card-body">
          <%= image_tag 'line_taiga.jpg', size:"150x150"%>
          <div class="card-body-text mt-4 text-center">
            <p>京本大我さんの私物が特定された際に通知が送られます。</p>
          </div>
        </div>
      </div>
      <div class="card col-2 border border-white border-1 rounded-0 text-dark bg-white py-2 mx-3 mt-3 mb-3" style="width: 15rem; height: 18rem;">
        <div class="card-body">
          <%= image_tag 'line_juri.jpg', size:"150x150"%>
            <div class="card-body-text mt-4 text-center">
              <p>田中樹さんの私物が特定された際に通知が送られます。</p>
            </div>
        </div>
      </div>
      <div class="card col-2 border-white border-1 rounded-0 text-dark bg-white py-2 mx-3 mt-3 mb-3" style="width: 15rem; height: 18rem;">
        <div class="card-body">
          <%= image_tag 'line_hokuto.jpg', size:"150x150"%>
          <div class="card-body-text mt-4 text-center">
            <p>松村北斗さんの私物が特定された際に通知が送られます。</p>
          </div>
        </div>
      </div>
      <div class="card col-2 border-white border-2 rounded-0 text-dark bg-white py-2 mx-3 mt-3 mb-3" style="width: 15rem; height: 18rem;">
        <div class="card-body">
          <%= image_tag 'line_jesse.jpg', size:"150x150"%>
          <div class="card-body-text mt-4 text-center">
            <p>ジェシーさんの私物が特定された際に通知が送られます。</p>
          </div>
        </div>
      </div>
      <div class="card col-2 border-success border-white rounded-6 text-dark bg-white py-2 mx-3 mt-3 mb-3" style="width: 15rem; height: 18rem;">
        <div class="card-body">
          <%= image_tag 'line_shintarou.jpg', size:"150x150"%>
          <div class="card-body-text mt-4 text-center">
            <p>森本慎太郎さんの私物が特定された際に通知が送られます。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>