<div class = "login-page pb-4 pt-4 justify-content:center">
  <h2><%= t('.title') %></h2>
  <div class="mt-4 mb-3">
    <%= form_with url: admins_login_path, local: true do |f| %>
      <%= f.label :email, t('activerecord.attributes.member.email'), class: "form-label fs-5 mb-3" %>
      <%= f.text_field :email, class: "form-control mb-3  w-25 h-25"%>
      <%= f.label :password, t('activerecord.attributes.member.password'), class: "form-label fs-5 mb-3" %>
      <%= f.password_field :password, class: "form-control mb-3  w-25 h-25"%>
      <%= f.submit t('defaults.login'), class: "btn btn-outline-dark search_btn " %>
    <% end %>
  </div>
</div>
