<footer class="footer mt-5"> 
    <div class = "footer_text p-3 border-top shadow-sm text-center"> 

<p>2021 find_goods_of_stan</p>
</div>
  <%
=begin%>
 <% if logged_in? && current_user.admin? %> 
    <div class = " p-3 px-md-4 mb-3 border-top shadow-sm text-center"> 
    </div>
  <% else %>
    <% case %>
    <% when current_page?(root_path) then %>
      <div class = " p-3 px-md-4 mb-3 border-top shadow-sm text-center"> 
      </div>
    <% when current_page?(line_page_path) then %>
      <div class = " p-3 px-md-4 mb-3 border-top shadow-sm text-center"> 
        <div class="footer_body">
          <%= link_to t('defaults.report_page'), new_report_path, class: "btn btn-outline-light" %>
          <%= link_to t('defaults.show_page'), articles_path, class: "btn btn-outline-light me-4"%>
        </div>
      </div>
    <% when current_page?(new_report_path) then %>
      <div class = " p-3 px-md-4 mb-3 border-top shadow-sm text-center"> 
        <div class="footer_body">
          <%= link_to t('defaults.line_page'), line_page_path, class: "btn btn-outline-light" %>
          <%= link_to t('defaults.show_page'), articles_path, class: "btn btn-outline-light me-4"%>
        </div>
      </div> 
<%
=end%>
    <%
=begin%>
 <% when current_page?(search_articles_path) then %> 
<%
=end%>
    <%
=begin%>
 <% when current_page?(articles_path) then %>

      <div class = " p-3 px-md-4 mb-3 border-top shadow-sm text-center"> 
        <div class="footer_body">
          <%= link_to t('defaults.report_page'), new_report_path, class: "btn btn-outline-light" %>
          <%= link_to t('defaults.line_page'), line_page_path, class: "btn btn-outline-light" %> 
<%
=end%>
          <%
=begin%>
 <%= link_to "戻る", :back, class: "btn btn-outline-light me-4"%> 
<%
=end%>
        <%
=begin%>
 </div>
      </div>
    <% when current_page?(articles_path) then %>
      <div class = " p-3 px-md-4 mb-3 border-top shadow-sm text-center"> 
        <div class="footer_body">
          <%= link_to t('defaults.report_page'), new_report_path, class: "btn btn-outline-light" %>
          <%= link_to t('defaults.line_page'), line_page_path, class: "btn btn-outline-light" %>
        </div>
      </div>
    <% else %>
      <div class = " p-3 px-md-4 mb-3 border-top shadow-sm text-center"> 
        <div class="footer_body">
          <%= link_to t('defaults.report_page'), new_report_path, class: "btn btn-outline-light" %>
          <%= link_to t('defaults.line_page'), line_page_path, class: "btn btn-outline-light" %> 
<%
=end%>
          <%
=begin%>
 <%= link_to "戻る", :back, class: "btn btn-outline-light me-4"%> 
<%
=end%>
        <%
=begin%>
 </div>
      </div>
    <% end %>
  <% end %> 
<%
=end%>
</footer>
