<footer class="footer mt-5"> 
  <% if logged_in? && current_user.admin? %> 
    <div class = " p-3 px-md-4 mb-3 border-top shadow-sm text-center"> 
    </div>
  <% else %>
    <% case %>
    <% when current_page?(root_path) then %>
      <div class = " p-3 px-md-4 mb-3 border-top shadow-sm text-center"> 
      </div>
    <% when current_page?(line_page_path) then %>
      <div class = " p-3 px-md-4 mb-3 border-top shadow-sm text-center"> 
        <div class="footer_body">
          <%= link_to "間違いにお気づきの方はこちらから", new_report_path, class: "btn btn-outline-light" %>
          <%= link_to "私物一覧はこちらから", articles_path, class: "btn btn-outline-light me-4"%>
        </div>
      </div>
    <% when current_page?(new_report_path) then %>
      <div class = " p-3 px-md-4 mb-3 border-top shadow-sm text-center"> 
        <div class="footer_body">
          <%= link_to "LINE追加はこちらから", line_page_path, class: "btn btn-outline-light" %>
          <%= link_to "私物一覧はこちらから", articles_path, class: "btn btn-outline-light me-4"%>
        </div>
      </div>
    <%
=begin%>
 <% when current_page?(search_articles_path) then %> 
<%
=end%>
    <% when current_page?(articles_path) then %>

      <div class = " p-3 px-md-4 mb-3 border-top shadow-sm text-center"> 
        <div class="footer_body">
          <%= link_to "間違いにお気づきの方はこちらから", new_report_path, class: "btn btn-outline-light" %>
          <%= link_to "LINE追加はこちらから", line_page_path, class: "btn btn-outline-light" %>
          <%
=begin%>
 <%= link_to "戻る", :back, class: "btn btn-outline-light me-4"%> 
<%
=end%>
        </div>
      </div>
    <% when current_page?(articles_path) then %>
      <div class = " p-3 px-md-4 mb-3 border-top shadow-sm text-center"> 
        <div class="footer_body">
          <%= link_to "間違いにお気づきの方はこちらから", new_report_path, class: "btn btn-outline-light" %>
          <%= link_to "LINE追加はこちらから", line_page_path, class: "btn btn-outline-light" %>
        </div>
      </div>
    <% else %>
      <div class = " p-3 px-md-4 mb-3 border-top shadow-sm text-center"> 
        <div class="footer_body">
          <%= link_to "間違いにお気づきの方はこちらから", new_report_path, class: "btn btn-outline-light" %>
          <%= link_to "LINE追加はこちらから", line_page_path, class: "btn btn-outline-light" %>
          <%
=begin%>
 <%= link_to "戻る", :back, class: "btn btn-outline-light me-4"%> 
<%
=end%>
        </div>
      </div>
    <% end %>
  <% end %>
</footer>
