<div class = "search mx-auto py-4">
<%= search_form_for @q, url: search_articles_path do |f| %> 
<%= f.label :brand_cont , "ブランド" %>
<%= f.search_field :brand_cont, class: "btn btn-outline-light rounded-0" %>  
<%= f.label :members_name_cont , "メンバー" %>
<%= f.search_field :members_name_cont, class: "btn btn-outline-light rounded-0" %> 
<%= f.submit "検索", class: "btn btn-outline-light"%>
<% end %>
</div>

